input, button
{
    outline: none !important;
}
.hater
{
    /*background-color: rgba(219, 0, 88, .07)*/
    background-color: #f7e4e4;
}

@media (max-width: 992px) {
    #list
    {
        width: 100% !important;
        margin: 0px !important;
    }
    body
    {
        padding: 0px !important;
    }
}